<%
  u = @current_user
  tabs = [
      { :name => t("g.start"), :url => root_path, :active => ["index", "home"],
        :subnav => [
          { :name => t("g.my_tasks"), :url => user_tasks_path },
          { :name => t("g.my_ordergroup"), :url => my_ordergroup_path, :access_denied? => (!u.ordergroup)},
          { :name => t("g.my_profile"), :url => my_profile_path}
        ]
      },
      { :name => "Foodcoop", :url => tasks_path,
        :active => ["foodcoop", "tasks", "messages", "foodcoop/ordergroups", "foodcoop/workgroups", "foodcoop/users"],
        :subnav => [
          { :name => t("g.members"), :url => foodcoop_users_path},
          { :name => t("g.workgroups"), :url => foodcoop_workgroups_path},
          { :name => t("g.ordergroups"), :url => foodcoop_ordergroups_path},
          { :name => t("g.messages"), :url => messages_path},
          { :name => t("g.tasks"), :url => tasks_path}
        ]
      },
      { :name => "Wiki", :url => wiki_path, :active => ["pages", "wiki"],
        :subnav => [
          { :name => t("g.start_page"), :url => wiki_path },
          { :name => t("g.all_pages"), :url => all_pages_path }
        ]
      },
      { :name => t("g.orders"), :url => u.ordergroup ? ordering_path : orders_path,
        :active => ["orders", "ordering"],
        :subnav => [
          { :name => t("g.order_now"), :url => ordering_path },
          { :name => t("g.my_orders"), :url => my_orders_path },
          { :name => t("g.order_mgt"), :url => orders_path, :access_denied? => (!u.role_orders?) }
        ]
      },
      { :name => t("g.items"), :url => suppliers_path,
        :active => ["articles", "suppliers", "deliveries", "article_categories", "stockit", "stock_takings"],
        :access_denied? => (!u.role_article_meta? && !u.role_suppliers?),
        :subnav => [
          { :name => t("g.items"), :url => suppliers_path },
          { :name => t("g.store"), :url => stock_articles_path },
          { :name => t("g.suppliers"), :url => suppliers_path, :access_denied? => (!u.role_suppliers?) },
          { :name => t("g.categories"), :url => article_categories_path }
        ]
      },
      { :name => t("g.finance"), :url => finance_root_path,
        :active => ["finance/invoices", "finance/transactions", "finance/balancing"],
        :access_denied? => (!u.role_finance?),
        :subnav => [
          { :name => t("g.manage_accounts"), :url => finance_transactions_path },
          { :name => t("g.settle_orders"), :url => finance_balancing_path },
          { :name => t("g.invoices"), :url => finance_invoices_path }
        ]
      },
      { :name => t("g.admin"), :url => admin_root_path,
        :active => ["admin/"],
        :access_denied? => (!u.role_admin?),
        :subnav => [
          { :name => t("g.members"), :url => admin_users_path },
          { :name => t("g.ordergroups"), :url => admin_ordergroups_path },
          { :name => t("g.workgroups"), :url => admin_workgroups_path }
        ]
      }
    ]
-%>
<ul>
  <% for tab in tabs -%>
    <% unless tab[:access_denied?] -%>
      <li class="<%= 'current' if tab_is_active?(tab) %>">
        <%= link_to tab[:name], tab[:url] %>
        <ul>
          <% for subtab in tab[:subnav] -%>
            <% unless subtab[:access_denied?] -%>
              <li><%= link_to subtab[:name], subtab[:url] %></li>
            <% end -%>
          <% end -%>
        </ul>
      </li>
    <% end -%>
  <% end -%>
</ul>
