%h1= t("g.workgroups")

%p
  %i
    = t("foodcoop.only_edit_groups_if_member")
    %br/
    = t("foodcoop.message_group_if_want_to_join")
      
= render :partial => "workgroup", :collection => @workgroups
        
          
            
          
